@(message: String)

@main("Welcome to Play") {

	<div ng-controller="todoListController as todoList" class="container">
		<form  class="form-horizontal">

			<div class="form-group" ng-repeat="todo in todoList.todos">
				<div class="col-xs-1">
					<input type="checkbox" ng-model="todo.finished">
				</div>
				<div class="col-xs-11">
					<input class="form-control" type="text" ng-model="todo.text">
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4 col-xs-offset-4">
					<a ng-click="todoList.addTodo()" class="btn btn-primary form-control">Добавить запись</a>
				</div>
			</div>

		</form>

	</div>




}
